/* CSS Accueil */  


input[type="submit"]
{
    cursor: pointer;
}

li
{
	color : rgb(51,162,255);
}

#conteneur
{
    background-image: url(Jogger3.jpg);
    background-origin: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#content
{
    margin-top : 170px;
}

table
{
    border-collapse: collapse;
}

.liste_compets
{
    margin-left : auto;
    margin-right : auto;
}

caption
{
    font-size : 2em;
    font-weight : bold;
    background-color : rgba(51,162,255,0.4);
    color : rgba(241,61,125,0.9);
    
}

th
{
    background-color : gray;
}

td, th
{
    border: 1px solid black;
    min-width: 100px;
    text-align: center;
}

table a
{
    color: black;
}

#bloc_galerie
{
    display: flex;
    justify-content : space-between;
}

#galerie + p
{
    text-transform: uppercase;
    color: rgb(51,162,255);
    padding-top: 15em;
    padding-right: 9em;
    text-align: center;
    font-size: 1em;
    
}

footer
{
    text-align: center;
     text-transform: uppercase;
}

body
{
    background-color:rgba(51,162,255,0.3);
}


.element:nth-child(1)
{
    width : 25%;
    margin-bottom: 2em;
}

.Logo
{
    width : 50%;
}

.element:nth-child(2)
{
    width : 35%; 
    position: relative;
    float : right;
    margin-top: -7em;
    margin-right : 3em;
    padding-top :1.5em;
    display : flex;
    justify-content : space-around;
}

.bouton_accueil
{
    position : relative;
    float : right;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51,162,255);
    padding: 5px 10px 5px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(51,162,255);
    margin-bottom: 2em;
}

#inscription
{
    position : relative;
    float : right;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51,162,255);
    padding: 5px 10px 5px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(51,162,255);
    margin-bottom: 2em;
}

.bouton_accueil:hover
{
    color : rgb(241,61,125);
}

a:hover
{
    color : rgb(241,61,125);
}

.element:nth-child(3), .element:nth-child(5)
{
    border-bottom: rgb(51, 162, 255) solid 1.2px;
}

#conteneur .element
{
    text-align: center;
    font-size: 2em;
    color : rgb(241,61,125);
    margin-top: auto;
    margin-bottom: auto;
    width : 100%;
}

a
{
    text-decoration: none;
    opacity : 0.7;
    color : rgb(51, 162, 255);
}

.message_important
{
    font-size: 2em;
    font-weight: bold;
    margin-top: 2em;
    
}

.amod
{
    margin-top: 1em;
}

#onglets_accueil
{
    justify-content: space-around;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

#onglets_accueil a
{
    color : rgb(241,61,125);
}

.champ_recherche
{
    text-align: center;
    margin-top: 7em;
}


#conteneur
{
    margin-bottom: 0em;
}

.sports_en_tete
{
    justify-content: space-around;
    display: flex;
    margin-top : 2em;
    text-transform : uppercase;
    font-size : 1em;
    background-color : rgba(0,0,0,0.6);
}

.erreur {
    color: red;
}



/* CSS Recherche */  

h1
{
    text-align : center;
    text-transform : uppercase;
    font-size : 2em;
    color : rgb(241,61,125);
}

.tableau_res_recherche
{
    margin-left : auto;
    margin-right : auto;
    margin-top : 1em;
}

#search-btn
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51,162,255);
    padding: 5px 10px 5px 10px;
    width: 90%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    color: rgb(51,162,255);
    margin-bottom: 2em;
    margin-left : 5%;
    margin-right : 5%;
}

.Rechercher
{
    width : 90%;
    margin-left : auto;
    margin-right : auto;
    margin-top : -1em;
}

#checkbox div {
    width:40%;
    margin-left :32%;
    text-align : center; 
    display : flex;
    margin-top : 1em;
}

#checkbox label {
    padding-bottom : -2em;
    position : relative;
    float : left;
    margin-right : 10%;
}

#search-btn:hover
{
    color: rgb(241,61,125);
}

#activer
{
    cursor: pointer;
    margin-left : auto;
    margin-right :auto;
    text-transform : uppercase;
}

#activer:hover
{
    text-decoration: underline;
}

body
{
    background-color : rgba(51,162,255,0.4);
    
}

#recherche_avancee
{
    margin-top : 2em;
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

#fieldset
{
    color : rgb(51,162,255);
    text-transform : uppercase;
    background-color : rgba(0,0,0,0.4);
}

.selection
{
    display : flex;
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

.selection .champ .critere
{
    width : 95%;
    margin-left : 1%;
    margin-right:1%;
}

.critere
{
    width : 50%;
    margin-bottom : 2px;
}

/* CSS Groupe */  

.bordure 
{
    border : 2px solid #F13D7D;
        padding: 12px;
        margin: 320px 10px 165px 80px;
        border-radius:10px;
    width:35%
}
        
.marge
{
   position : absolute;
  
   width:690px;
   height:100px;
   left : 35%;
   margin-left : -340px;
   margin-top:100px; 
}
.titremarge
{
    margin-left: 500px;
    margin-top: 150px;
}

/* CSS Header */  

#header
{
    position: fixed; 
    width : 99%;
    box-shadow:0 0 10px 4px grey;
    padding-bottom : 0.1em;
    background-color : white;
    top: 0;
    z-index: 10;
    
}

.champ_connexion input
{
    width : 40%;
    margin-right : 2px;
    float : left;
    margin-bottom : 2px; 
}

.champ_connexion .bouton_accueil:hover, #inscription:hover, #creation_groupe:hover, #edition_acceuil:hover, #deconnexion:hover
{
    color : rgb(241,61,125);
}

.pseudo_header
{
    text-transform : uppercase;
    color : rgb(241,61,125);
    margin-left : -5px;
}

.champ_connexion .bouton_accueil
{
    width : 41.5%;
}

.champ_connexion .bouton_accueil, #creation_groupe, #edition_acceuil, #deconnexion
{
    position : relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51,162,255);
    padding: 3px 5px 3px 5px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(51,162,255);   
}

#inscription
{
    position : relative;
    float : right;
    border: 1px solid rgb(51,162,255); 
    background-color: #CCCCCC; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    cursor: text;
    padding: 3px 5px 3px 5px;
    font-size: 10px;
    font-weight: normal;
}

#creation_groupe
{
    background-color : rgb(195,215,212);
}

/* CSS  */  

.liste1, .liste2, .liste3, .liste4
{
    position: relative;
    float : left;
    margin-right : 1em;
    margin-left: 1em;
}

#sport, #compet
{
    margin-top:1em;
    margin-bottom:1em;
}

/* CSS Edition page d'accueil */  

.titre
{
    font-size: 2em;
    font-weight: bold;
    text-align : center;
    min-width: 820px;
    width : 50%;
    color : rgb(51,162,255);
    bakground-color: rgba(241,61,125, 0.9);
    margin : 0 auto 1em auto;
}


#bloc1
{
    padding-left : 2em;
    padding-right : 2em;
    padding-bottom: 2em;
    min-width: 820px;
    width : 90%;
    border : 2px solid black;
}

.bloc
{
    padding-left : 2em;
    padding-right : 2em;
    padding-bottom: 2em;
    min-width: 820px;
    width : 90%;
}

#essai
{
    display: flex;
        flex-wrap : wrap;
        justify-content : center;
}

#sport:hover
{
    color : rgb(51,162,255);
}

.tb1
{
    background-color : white;
    width : 35%;
    margin-top : -0.75em;
    text-align : center;
    font-size : 1.1em;
        color : rgb(241,61,125);
}

legend
{
     color : rgb(241,61,125);
}

bouton
{
    position : relative;
    float : right;
    margin-bottom: 3em;
    margin-right : 12em;
    box-shadow : 3px 3px 3px 3px;
}

.agrandir_bouton
{
    font-size:1.1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51,162,255);
    padding: 5px 10px 5px 10px;
    width: 30%;
    box-sizing: border-box;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    color: rgb(51,162,255);
    margin-bottom: 2em;
    margin-left : 60%;
}

.agrandir_bouton:hover
{
    color : rgb(241,61,125);
}

legend
{
    font-size : 1.2em;
}


/* CSS Creation_groupe */

#content_creation_groupe
{
    margin-top : 140px;
    padding-top : 1em;
}

#Creer_un_groupe
{
    display: flex;
    justify-content : space-around; 
}

#bloc_image, #bloc_champ
{
    width : 40%;
    text-align : left;
    margin-bottom : auto;
    margin-top : auto;
    
}


#conteneur_groupe
{
    border: 1px solid black;
    width : 60%;
    margin-top : 2em;
}

.legend_groupe
{
    margin-top : -1.2em;
    text-transform : uppercase;
}

.champ
{
    width : 60%;
}

.champ .critere
{
    width : 100%;
}

#search-btn_creation_groupe
{
       /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: rgb(51,162,255);   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 90%;   /* Permet d'ajuster la largeur du bouton Ã  100% */
    box-sizing: border-box;   /* Important */
    font-size: 13px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 2px;   /* Espacement des caractÃ¨res */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: rgb(51,162,255);   /* Couleur du texte */
    margin-bottom: 2em;
}

#search-btn_creation_groupe:hover
 {
    color:rgb(241,61,125);
}

/* CSS CrÃ©er un compte */

.champ_inscription #nom, .champ_inscription #prenom, .champ_inscription #date_naissance, .champ_inscription #email, .champ_inscription #mdp, .champ_inscription #confirmation
{
    width : 20%;
}

.champ_inscription  .champ .critere
{
    width : 35%;
}

.titre_creer_compte
{
    
    text-transform : uppercase;
    margin-bottom : -1.5em;
}

.champ_inscription
{
    padding-top : 2em;
    padding-left : 1em;
}


/* CSS CrÃ©er une compÃ©tition */

.champ_compet
{
    border : 1px solid black;
    margin-top : 2em;
    padding-left : 1em;
    padding-top : 2em;
    padding-right : 2em;
    width : 60%;
}

.champ_compet input, .champ_compet textarea, .champ_compet .critere
{
    width : 40%;
}

.champ_compet .champ_date
{
    width : 12%;
}


/* CSS Profil*/


.bordure 
{
    border : 2px solid #F13D7D;
    padding: 12px;
    margin: 320px 10px 165px 80px;
    border-radius:10px;
    width:35%
}
.bordure1 
{
    border : 2px solid #33A2FF;
    padding: 12px;
    margin: -850px 800px 10px 600px;
    border-radius:10px;
    width:40%;
}

.bordure2 
{
    width:40%; 
    height:250px; 
    overflow:auto; 
    padding: 12px;
    margin: 10px 800px -40px 600px;
    border-radius:10px;
    border: 2px solid #33A2FF;
}

.bordure3 
{
    border : 2px solid #33A2FF;;
    width:40%;
    height:235px;
    padding: 12px;
    margin: 80px 800px 50px 600px;
    overflow: auto;
    border-radius:10px;
}

.marge
{
    position : absolute;
    width:690px;
    height:100px;
    left : 35%;
    margin-left : -340px;
    margin-top:100px; 
}

.titremarge
{
    margin-left: 500px;
    margin-top: 150px;
}


#barre_bleue_gauche 
{
    width:1%;
    display:inline-block;
    background-color:#33A2FF;
    border-radius:10px;
    height:50em;
    float:left;
    clear:none;
    margin-top:5em;
}

#barre_bleue_droite {
    width:1%;
    display:inline-block;
    background-color:#33A2FF;
    border-radius:10px;
    height:50em;
    float:right;
    clear:none;
    margin-top:5em;
}

#barre_mauve_gauche {
    width:1%;
    display:inline-block;
    background-color:#F13D7D;
    border-radius:10px;
    height:48em;
    margin-top:6em;
    margin-left:0.25em;
    float:left;
    clear:none;
}

#barre_mauve_droite{
    width:1%;
    display:inline-block;
    background-color:#F13D7D;
    border-radius:10px;
    height:48em;
    top:1em;
    margin-top:6em;
    margin-right:0.25em;
    float:right;
    clear:none;
}


/* CSS FORUM */
 
 
 .table_index {
     width:80%;
     border-width:thick;
     border-color: black;
     border-style: double;
     margin-left:10%;
     margin-top:10px;
     border-radius:5%;
	  
    }
 
 .table_index td 
 {
    border : 1px solid black;
 }
 
 .tab_lire_sujet
 {
	background-color : gray;
 }
 
 table_index tr:first-child {
         background-color:rgb(4,127,173);
         font-size:24px;
     }
    
 table_index tr td {
     padding:10px;
     }
     
 .bouton_forum 
 {
    border:1px solid red;
    margin:10px;
    padding:10px; 
	background-color : rgb(241,61,125);
	position : relative;
	float : right ;
}

.bouton_forum2 
 {
    border:1px solid red;
    margin:10px;
    padding:10px; 
	background-color : rgb(241,61,125);
	position : relative;
	float : left ;
}
     
 .bouton_forum:hover, .bouton_forum2:hover
 {
        background-color:rgb(153,204,0);
        }
        
 .message_forum {
        width:40%;   
 }
 
 .inut 
 {
	 width : 60%;
 }
