#Creer_un_groupe
{
    display: flex;
    justify-content : space-around;
    align-items : center;
}

#conteneur2
{
    border: 1px solid black;
    width : 60%;
}

legend
{
    margin-top : -0.7em;
    margin-left: 0.5em;
    padding-left : 2em;
    width : 20%;
    background-color: white;
     
}

#nom_du_groupe, #sport, #description, #max_membres, #statut
{
    width : 50%;
}

.agrandir_bouton
{
       /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: rgb(51,162,255);   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 90%;   /* Permet d'ajuster la largeur du bouton à 100% */
    box-sizing: border-box;   /* Important */
    font-size: 13px;   /* Taille de la police du texte */
    font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
    letter-spacing: 2px;   /* Espacement des caractères */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: rgb(51,162,255);   /* Couleur du texte */
    margin-bottom: 2em;
}

a:hover {
	background-color:#BFFF09;
	color:black;
	font-weight:bold;
	font-size:larger;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 mai 2016, 14:45:27
    Author     : comec
*/

